[submodule "bundle/git-nerdtree"]
	path = bundle/git-nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/git-taglist"]
	path = bundle/git-taglist
	url = git://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/git-vim-indentguide"]
	path = bundle/git-vim-indentguide
	url = git://github.com/nathanaelkane/vim-indent-guides.git
